
build/
cmake-build-*/
CMakeFiles/
Makefile
CMakeCache.txt
*.cmake

*.moc
moc_*.cpp
moc_*.o
*.qrc
*.autosave
*.pro.user*
*.qmlc
*.jsc
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.dSYM/
*.app/
*.log
*.swp
*.DS_Store
*.tmp
*.bak
*.old
*.sublime-workspace
*.idea/
*.vscode/

